@use '../../scss/tailwind-directives.scss';
@use '../../scss/abstracts/colors' as colors;
@use '../../scss/abstracts/fonts' as fonts;

@layer components {
  .p {
    color: colors.$color-font-dark;
    font-family: fonts.$font-family-Poppins;
    @apply text-xs;
  }

  .p_global {
    @extend .p;
  }

  .p_gray {
    @extend .p;
    color: colors.$color-placeholder;
  }
}
